{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Add Tenant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'schedule/style.css' %}">
</head>
<body>
    <h2>Add a New Tenant</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Tenant</button>
    </form>
    <p>*Only empty rooms show and can be chosen</p>
    <p>Be sure to remove tenants who has moved out under: <a href="{% url 'tenant_list' %}">Tenant list</a></p>    
    <p><a href="{% url 'task_list' %}">⬅ Back to Schedule</a></p>
</body>
</html>
