{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Cleaning Schedule</title>
    <link rel="stylesheet" href="{% static 'schedule/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <style>
        table { border-collapse: collapse; width: 80%; margin: auto; }
        th, td { border: 1px solid #ddd; padding: 8px; }
        th { background-color: #f2f2f2; }
    </style> -->
</head>

<body>
    <h1 style="text-align:center;">Cleaning Schedule</h1>
    <div class="vertical-banner">渋谷池尻1</div>
    <table>
        <tr>
            <th>Responsible</th>
            <!-- <th>Description</th>
            <th>Due Date</th> -->
            <th>Task</th>
            <th>Status</th>
        </tr>
        {% for task in tasks %}
        <tr>
            {% if task.room %}
            <td>{{ task.room.name }} ({{ task.room.tenant }})</td>
            {% else %}
            <td>Unassigned</td>
            {% endif %}
            <td>{{ task.name }}</td>

            <td>
                <form method="post" action="{% url 'task_done' task.id %}">
                    {% csrf_token %}
                    <button type="submit"
                        class="done-button {% if task.status == 'done' %}done{% elif task.status == 'pending' %}pending{% endif %}"
                        style="margin-bottom: 15px;">
                        {% if task.status == "done" %}
                        ✅ Done
                        {% elif task.status == "pending" %}
                        ☑️ Pending
                        {% endif %}
                    </button>
                </form>

            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="table-actions">
        <a href="{% url 'add_tenant' %}">
            <button>➕ Add Tenant</button>
        </a>
        <a href="{% url 'tenant_list' %}">
            <button>👥 View Tenants</button>
        </a>
        <a href="{% url 'add_task' %}">
            <button>➕ Add Task</button>
        </a>
        <a href="{% url 'tasks_descriptions' %}">
            <button>📋 View Tasks</button>
        </a>

        <form action="{% url 'rotate_tasks' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit">🔄 Rotate Tasks</button>
        </form>
        <img id="pokeball" src="{% static 'schedule/images/Poké_Ball_icon.svg.png' %}" alt="Logo">
    </div>




    <!-- <a href="{% url 'reassign_task' %}">
        <button>Swap Tasks Between Tenants</button>
    </a> -->

</body>

</html>