<!DOCTYPE html>
<html>
<head>
    <title>Cleaning Schedule</title>
    <style>
        table { border-collapse: collapse; width: 80%; margin: auto; }
        th, td { border: 1px solid #ddd; padding: 8px; }
        th { background-color: #f2f2f2; }
    </style>
</head>
<body>
    <h1 style="text-align:center;">Cleaning Schedule</h1>
    <table>
        <tr>
            <th>Responsible</th>
            <!-- <th>Description</th>
            <th>Due Date</th> -->
            <th>Task</th>
            <th>Status</th>
        </tr>
        {% for task in tasks %}
        <tr>
            {% if task.room %}
                <td>{{ task.room.name }} ({{ task.room.tenant }})</td>            
            {% else %}
                <td>Unassigned</td> 
            {% endif %}
            <td>{{ task.name }}</td>
            
            <td>
                {% if task.status == "done" %}
                    ✅ Done                       
                {% elif task.status == "pending" %}
                    Pending
                    <form method="post" action="{% url 'task_done' task.id %}">
                        {% csrf_token %}
                        <button type="submit" style="margin-bottom: 15px;">☑️</button>
                    </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'add_tenant' %}">
            <button style="margin-bottom: 15px;">➕ Add Tenant</button>
    </a>
    <a href="{% url 'tenant_list' %}">
        <button style="margin-left: 10px;">👥 View Tenants</button>
    </a>

        <a href="{% url 'add_task' %}">
            <button style="margin-bottom: 15px;">➕ Add Task</button>

    <a href="{% url 'tasks_descriptions' %}">
        <button>📋 View Tasks</button>
    </a>

    <!-- in your template -->
    <form action="{% url 'rotate_tasks' %}" method="post">
    {% csrf_token %}
    <button type="submit">Rotate Tasks</button>
    </form>

    <!-- <a href="{% url 'reassign_task' %}">
        <button>Swap Tasks Between Tenants</button>
    </a> -->
    
</body>
</html>
