{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Tenants</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'schedule/style.css' %}">
</head>
<body>
    <h1>Tenant List</h1>

    <table>
        <tr>
            <th>Tenants</th>
            <th>Actions</th>
        </tr>
        {% for tenant in tenants %}
        <tr>
            <td>{{ tenant.room.name }} - {{tenant.name}}</td>
            <td>
                <button><a class="href-button" href="{% url 'edit_tenant' tenant.id %}">✏️ Edit</a></button>
                <form action="{% url 'delete_tenant' tenant.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">🗑️ Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <p><a href="{% url 'task_list' %}">⬅ Back to Schedule</a></p>
</body>
</html>
