{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Tenants</title>
    <link rel="stylesheet" href="{% static 'schedule/style.css' %}">
</head>
<body>
    <h1>Tenant List</h1>

    <table border="1" cellpadding="8">
        <tr>
            <th><strong>Tenants</strong></th>
            <th><strong>Actions</strong></th>
        </tr>
        {% for tenant in tenants %}
        <tr>
            <td>{{ tenant.room.name }} - {{tenant.name}}</td>
            <td>
                <button><a class="href-button" href="{% url 'edit_tenant' tenant.id %}">✏️ Edit</a></button>
                <form action="{% url 'delete_tenant' tenant.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">🗑️ Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <p><a href="{% url 'task_list' %}">⬅ Back to Schedule</a></p>
</body>
</html>
